
#top {
  width: 100%;
  text-align: center;
  font-family: 'Poppins'
}
.container {
  font-family: 'Poppins';
  font-size: 15px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: pink;
  width: 95%;
  height: 500px;

}

.row {
  width: 33%;
  align-items: center;
}

.outer-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.card{
  width: 95%;
  height: 45%;
  background: white;
  border-radius: 6px;
  border-width: 5px 0 0 0;
  border-style: solid;
}

img {
  position: relative;
  float: right;
}

#card1 {
  border-top-color: hsl(180, 62%, 55%);
}
#card2 {
  border-top-color: hsl(0, 78%, 62%);
  margin-bottom: 5%;
}

#card3 {
  border-top-color: hsl(34, 97%, 64%);
  margin-top: 5%;
}

#card4 {
  border-top-color: hsl(212, 86%, 64%);
}