#top {
  width: 100%;
  text-align: center;
}
.container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: pink;
  width: 95%;
  height: 500px;
}

.card {
  background: white;
  width: 100%;
}

.row {
  width: 33%;
}

.card{
  width: 100%;
  background: blue;
}